@import '../../../assets/sass/helpers/_mixins'
@import '../../../assets/sass/src/_color'
@import '../../../assets/sass/src/_vars'

.Search
    margin-left: 15px
    position: relative
    z-index: 9999
    input
        margin: 0
        line-height: 28px
        border: 0
        max-width: 200px
    &__result
        color: $b !important
        +df
        align-items: center
        padding-left: 15px
        padding-right: 60px
        overflow: hidden
        height: 60px
        +pr
        border-radius: 3px
        &:hover
            color: $main !important
            background: #fafafa
        &-wrapper
            top: 35px
            position: absolute !important
            background: $w
            min-width: 250px
            box-shadow: 0 0 20px 20px rgba($b, .05)
            border-radius: 3px
            max-height: 290px
            overflow: auto
    &__overlay
        position: fixed
        top: 0
        left: 0 
        right: 0
        bottom: 0
        z-index: -1
    &__thumb
        +pa
        right: 0
        top: 0
        width: 50px
        height: 50px
        background-size: cover !important
        margin: 5px
        background-repeat: no-repeat !important
        overflow: hidden
    &__dateReceipt
        font-size: 10px
        color: #cccccc
    &__found
        padding: 15px
        font-size: 13px
        color: #797979
        